.header {
  min-height: 100px;
  box-shadow: 0 1px 36.4px 3.6px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
}

.header__logo {
  color: #000;
  margin-right: 60px;

  &:hover {
    color: #000;
  }

  &::before {
    background-image: url(~assets/img/logo.png);
  }

  @include logo();
}

.header__text {
  color: #939393;
  font-size: 16px;
  text-transform: uppercase;
}

.header__container {
  display: flex;
  align-items: center;
  position: relative;
}

.header__contact {
  margin-left: auto;
  margin-right: 60px;

  &::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' enable-background='new 0 0 512 512' height='512' viewBox='0 0 512 512' width='512'%3E%3Cg%3E%3Cpath d='m497 241h-33.2v-49.267c0-34.907-28.242-63.2-63.2-63.2h-17.133v-81.4c0-25.989-21.145-47.133-47.134-47.133h-32.133-160.667-32.133c-25.822 0-47.133 20.868-47.133 47.133v113.533h-17.133c-25.86.001-47.134 20.901-47.134 47.134 0 17.033 9.083 31.983 22.658 40.265-4.181 7.035-6.592 15.241-6.592 24.002 0 17.021 9.071 31.962 22.63 40.248-4.277 7.193-6.563 15.428-6.563 24.019 0 18.064 9.898 32.5 22.646 40.285-4.174 7.031-6.58 15.229-6.58 23.982 0 14.095 6.228 26.757 16.066 35.401v28.865c.002 25.989 21.146 47.133 47.135 47.133h224.933c12.598 0 24.435-4.906 33.319-13.802 8.908-8.898 13.814-20.735 13.814-33.332v-17.133h17.134c29.683 0 54.65-20.568 61.402-48.2h34.998c8.284 0 15-6.716 15-15v-128.533c0-8.284-6.716-15-15-15zm-338.467-211h130.667v17.133c0 9.337-7.549 17.133-17.134 17.133h-96.399c-9.357 0-17.134-7.567-17.134-17.133zm-128.533 177.8c0-9.338 7.552-17.133 17.134-17.133h17.133v34.267h-17.133c-9.447-.001-17.134-7.687-17.134-17.134zm16.066 64.267c0-9.448 7.687-17.134 17.134-17.134h48.2c9.447 0 17.133 7.686 17.133 17.134 0 9.447-7.686 17.133-17.133 17.133h-48.2c-9.447 0-17.134-7.686-17.134-17.133zm16.068 64.266c0-9.339 7.551-17.133 17.133-17.133h32.133c9.358 0 17.133 7.567 17.133 17.133 0 9.358-7.565 17.133-17.133 17.133h-32.133c-9.358.001-17.133-7.566-17.133-17.133zm16.066 64.267c0-9.447 7.686-17.133 17.133-17.133s17.134 7.686 17.134 17.133-7.687 17.133-17.134 17.133-17.133-7.686-17.133-17.133zm275.267 64.267c0 9.337-7.549 17.133-17.134 17.133h-224.933c-9.447 0-17.134-7.686-17.134-17.133v-17.16c.356.008.709.027 1.066.027 25.989 0 47.134-21.144 47.134-47.133 0-8.752-2.406-16.949-6.579-23.98 9.171-5.6 22.646-18.792 22.646-40.287 0-12.055-4.503-23.407-12.684-32.146 7.86-8.424 12.684-19.717 12.684-32.12 0-25.99-21.144-47.134-47.133-47.134h-17.133v-49.267-128.534c0-9.334 7.546-17.133 17.133-17.133h17.133v17.133c0 25.916 20.954 47.133 47.134 47.133h96.399c25.916 0 47.134-20.952 47.134-47.133v-17.133h17.133c9.447 0 17.134 7.686 17.134 17.133v81.4h-81.4c-8.284 0-15 6.716-15 15 0 52.567 42.767 95.333 95.334 95.333h1.066zm128.533-95.334h-33.2c-8.284 0-15 6.716-15 15 0 18.307-14.894 33.2-33.2 33.2h-17.133v-193.866c0-8.284-6.716-15-15-15h-16.067c-30.864 0-56.8-21.515-63.597-50.333h111.797c18.351 0 33.2 14.841 33.2 33.2v64.266c0 8.284 6.716 15 15 15h33.2z'/%3E%3Cpath d='m256 417.733h-64.267c-8.284 0-15 6.716-15 15s6.716 15 15 15h64.267c8.284 0 15-6.716 15-15s-6.716-15-15-15z'/%3E%3C/g%3E%3C/svg%3E");
  }

  @include contact;
}
.header__phone {
  color: #f1c307;
  font-family: $font-alt;
  font-size: 24px;
  text-decoration: none;
  &:hover {
    color: #f1c307;
  }
}
.header__city {
  font-size: 8.5px;
  font-family: $font-carbon;

}
.header__socials {
  display: flex;
  align-items: center;
}

.header__social-switch {
  display: none;
}

.header__social-links {
  display: flex;
}

.header__social {
  display: block;
  height: 30px;
  width: 30px;
  background-size: contain;
  text-indent: -9999px;
  text-decoration: none;
  margin-right: 20px;

  &_vk {
    background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 24 24' height='512' viewBox='0 0 24 24' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m19.915 13.028c-.388-.49-.277-.708 0-1.146.005-.005 3.208-4.431 3.538-5.932l.002-.001c.164-.547 0-.949-.793-.949h-2.624c-.668 0-.976.345-1.141.731 0 0-1.336 3.198-3.226 5.271-.61.599-.892.791-1.225.791-.164 0-.419-.192-.419-.739v-5.105c0-.656-.187-.949-.74-.949h-4.126c-.419 0-.668.306-.668.591 0 .622.945.765 1.043 2.515v3.797c0 .832-.151.985-.486.985-.892 0-3.057-3.211-4.34-6.886-.259-.713-.512-1.001-1.185-1.001h-2.625c-.749 0-.9.345-.9.731 0 .682.892 4.073 4.148 8.553 2.17 3.058 5.226 4.715 8.006 4.715 1.671 0 1.875-.368 1.875-1.001 0-2.922-.151-3.198.686-3.198.388 0 1.056.192 2.616 1.667 1.783 1.749 2.076 2.532 3.074 2.532h2.624c.748 0 1.127-.368.909-1.094-.499-1.527-3.871-4.668-4.023-4.878z' fill='%234b729f'/%3E%3C/svg%3E");
  }

  &_inst {
    background-image: url("data:image/svg+xml,%3Csvg height='512pt' viewBox='0 0 512 512' width='512pt' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='42.966156268' x2='469.0337477' y1='469.0296477168' y2='42.9620562848'%3E%3Cstop offset='0' stop-color='%23ffd600'/%3E%3Cstop offset='.5' stop-color='%23ff0100'/%3E%3Cstop offset='1' stop-color='%23d800b9'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='163.0429956456' x2='348.9539083464' y1='348.9538083312' y2='163.0428956304'%3E%3Cstop offset='0' stop-color='%23ff6400'/%3E%3Cstop offset='.5' stop-color='%23ff0100'/%3E%3Cstop offset='1' stop-color='%23fd0056'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='370.9291325432' x2='414.3727849912' y1='141.0676714336' y2='97.6240189856'%3E%3Cstop offset='0' stop-color='%23f30072'/%3E%3Cstop offset='1' stop-color='%23e50097'/%3E%3C/linearGradient%3E%3Cpath d='m510.460938 150.453125c-1.246094-27.25-5.574219-45.859375-11.902344-62.140625-6.425782-17.082031-16.503906-32.554688-29.527344-45.34375-12.785156-13.023438-28.261719-23.105469-45.34375-29.535156-16.285156-6.324219-34.890625-10.648438-62.140625-11.886719-27.300781-1.25-36.023437-1.546875-105.546875-1.546875s-78.246094.296875-105.546875 1.539062c-27.25 1.246094-45.855469 5.574219-62.140625 11.902344-17.082031 6.425782-32.554688 16.503906-45.34375 29.527344-13.023438 12.785156-23.105469 28.257812-29.535156 45.339844-6.324219 16.285156-10.648438 34.894531-11.886719 62.140625-1.25 27.304687-1.546875 36.023437-1.546875 105.546875 0 69.527344.296875 78.25 1.546875 105.550781 1.242187 27.246094 5.570313 45.855469 11.898437 62.140625 6.425782 17.078125 16.503907 32.554688 29.527344 45.339844 12.785156 13.023437 28.261719 23.101562 45.34375 29.527344 16.28125 6.332031 34.890625 10.65625 62.140625 11.902343 27.304688 1.246094 36.023438 1.539063 105.546875 1.539063 69.523438 0 78.246094-.292969 105.546875-1.539063 27.25-1.246093 45.855469-5.570312 62.140625-11.902343 34.386719-13.296876 61.570313-40.480469 74.867188-74.867188 6.332031-16.285156 10.65625-34.894531 11.902344-62.140625 1.242187-27.304687 1.539062-36.023437 1.539062-105.546875 0-69.527344-.296875-78.246094-1.539062-105.546875zm-46.082032 208.996094c-1.136718 24.960937-5.308594 38.515625-8.8125 47.535156-8.613281 22.328125-26.257812 39.972656-48.585937 48.585937-9.019531 3.503907-22.574219 7.675782-47.535157 8.8125-26.988281 1.234376-35.085937 1.492188-103.445312 1.492188-68.363281 0-76.457031-.257812-103.449219-1.492188-24.957031-1.136718-38.511719-5.308593-47.535156-8.8125-11.117187-4.105468-21.175781-10.648437-29.433594-19.152343-8.503906-8.257813-15.046875-18.3125-19.152343-29.433594-3.503907-9.019531-7.675782-22.574219-8.8125-47.535156-1.230469-26.992188-1.492188-35.089844-1.492188-103.445313 0-68.359375.261719-76.453125 1.492188-103.449218 1.140624-24.960938 5.308593-38.515626 8.8125-47.535157 4.105468-11.121093 10.652343-21.179687 19.152343-29.4375 8.257813-8.503906 18.316407-15.046875 29.4375-19.148437 9.019531-3.507813 22.574219-7.675782 47.535157-8.816406 26.992187-1.230469 35.089843-1.492188 103.445312-1.492188h-.003906c68.355468 0 76.453125.261719 103.449218 1.496094 24.960938 1.136718 38.511719 5.308594 47.535157 8.8125 11.117187 4.105468 21.175781 10.648437 29.433593 19.148437 8.503907 8.257813 15.046876 18.316407 19.148438 29.4375 3.507812 9.019531 7.679688 22.574219 8.816406 47.535157 1.230469 26.992187 1.492188 35.089843 1.492188 103.445312 0 68.359375-.257813 76.453125-1.492188 103.449219zm0 0' fill='url(%23a)'/%3E%3Cpath d='m255.996094 124.539062c-72.601563 0-131.457032 58.859376-131.457032 131.460938s58.855469 131.457031 131.457032 131.457031c72.605468 0 131.460937-58.855469 131.460937-131.457031s-58.855469-131.460938-131.460937-131.460938zm0 216.792969c-47.125-.003906-85.332032-38.207031-85.328125-85.335937 0-47.125 38.203125-85.332032 85.332031-85.332032 47.128906.003907 85.332031 38.207032 85.332031 85.332032 0 47.128906-38.207031 85.335937-85.335937 85.335937zm0 0' fill='url(%23b)'/%3E%3Cpath d='m423.371094 119.347656c0 16.964844-13.753906 30.71875-30.71875 30.71875-16.96875 0-30.722656-13.753906-30.722656-30.71875 0-16.96875 13.753906-30.722656 30.722656-30.722656 16.964844 0 30.71875 13.753906 30.71875 30.722656zm0 0' fill='url(%23c)'/%3E%3C/svg%3E");
  }

  &_fb {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48px' height='48px'%3E%3Cpath fill='%23039be5' d='M24 5A19 19 0 1 0 24 43A19 19 0 1 0 24 5Z'/%3E%3Cpath fill='%23fff' d='M26.572,29.036h4.917l0.772-4.995h-5.69v-2.73c0-2.075,0.678-3.915,2.619-3.915h3.119v-4.359c-0.548-0.074-1.707-0.236-3.897-0.236c-4.573,0-7.254,2.415-7.254,7.917v3.323h-4.701v4.995h4.701v13.729C22.089,42.905,23.032,43,24,43c0.875,0,1.729-0.08,2.572-0.194V29.036z'/%3E%3C/svg%3E");
  }
  &_twitter {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48px' height='48px'%3E%3Cpath fill='%2303A9F4' d='M42,12.429c-1.323,0.586-2.746,0.977-4.247,1.162c1.526-0.906,2.7-2.351,3.251-4.058c-1.428,0.837-3.01,1.452-4.693,1.776C34.967,9.884,33.05,9,30.926,9c-4.08,0-7.387,3.278-7.387,7.32c0,0.572,0.067,1.129,0.193,1.67c-6.138-0.308-11.582-3.226-15.224-7.654c-0.64,1.082-1,2.349-1,3.686c0,2.541,1.301,4.778,3.285,6.096c-1.211-0.037-2.351-0.374-3.349-0.914c0,0.022,0,0.055,0,0.086c0,3.551,2.547,6.508,5.923,7.181c-0.617,0.169-1.269,0.263-1.941,0.263c-0.477,0-0.942-0.054-1.392-0.135c0.94,2.902,3.667,5.023,6.898,5.086c-2.528,1.96-5.712,3.134-9.174,3.134c-0.598,0-1.183-0.034-1.761-0.104C9.268,36.786,13.152,38,17.321,38c13.585,0,21.017-11.156,21.017-20.834c0-0.317-0.01-0.633-0.025-0.945C39.763,15.197,41.013,13.905,42,12.429'/%3E%3C/svg%3E");
  }
  &_whtsp {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 418.135 418.135' style='enable-background:new 0 0 418.135 418.135;' xml:space='preserve'%3E%3Cg%3E%3Cpath style='fill:%237AD06D;' d='M198.929,0.242C88.5,5.5,1.356,97.466,1.691,208.02c0.102,33.672,8.231,65.454,22.571,93.536 L2.245,408.429c-1.191,5.781,4.023,10.843,9.766,9.483l104.723-24.811c26.905,13.402,57.125,21.143,89.108,21.631 c112.869,1.724,206.982-87.897,210.5-200.724C420.113,93.065,320.295-5.538,198.929,0.242z M323.886,322.197 c-30.669,30.669-71.446,47.559-114.818,47.559c-25.396,0-49.71-5.698-72.269-16.935l-14.584-7.265l-64.206,15.212l13.515-65.607 l-7.185-14.07c-11.711-22.935-17.649-47.736-17.649-73.713c0-43.373,16.89-84.149,47.559-114.819 c30.395-30.395,71.837-47.56,114.822-47.56C252.443,45,293.218,61.89,323.887,92.558c30.669,30.669,47.559,71.445,47.56,114.817 C371.446,250.361,354.281,291.803,323.886,322.197z'/%3E%3Cpath style='fill:%237AD06D;' d='M309.712,252.351l-40.169-11.534c-5.281-1.516-10.968-0.018-14.816,3.903l-9.823,10.008 c-4.142,4.22-10.427,5.576-15.909,3.358c-19.002-7.69-58.974-43.23-69.182-61.007c-2.945-5.128-2.458-11.539,1.158-16.218 l8.576-11.095c3.36-4.347,4.069-10.185,1.847-15.21l-16.9-38.223c-4.048-9.155-15.747-11.82-23.39-5.356 c-11.211,9.482-24.513,23.891-26.13,39.854c-2.851,28.144,9.219,63.622,54.862,106.222c52.73,49.215,94.956,55.717,122.449,49.057 c15.594-3.777,28.056-18.919,35.921-31.317C323.568,266.34,319.334,255.114,309.712,252.351z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
    margin-right: 0;
  }
}


@include media-breakpoint-down(lg) {
  .header__text {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  .header__container {
    justify-content: space-between;
  }
  .header__logo {
    margin-right: 0;
  }
  .header__contact {
    margin-right: 0;
    margin-left: 0;
  }
  .header__socials {
    height: 20px;
    width: 20px;
    overflow: hidden;
    position: relative;

    &_expanded {
      overflow: visible;
    }
  }
  .header__social-links {
    display: none;

    &_expanded {
      background-color: #fff;
      padding: 5px;
      position: absolute;
      top: 30px;
      left: -3px;
      display: flex;
      flex-direction: column;
      border-radius: 20px;
    }
  }
  .header__social {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .header__social-switch {
    height: 20px;
    width: 20px;
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M406,332c-29.636,0-55.969,14.402-72.378,36.571l-141.27-72.195C194.722,288.324,196,279.809,196,271 c0-11.931-2.339-23.324-6.574-33.753l148.06-88.958C354.006,167.679,378.59,180,406,180c49.626,0,90-40.374,90-90 c0-49.626-40.374-90-90-90c-49.626,0-90,40.374-90,90c0,11.47,2.161,22.443,6.09,32.54l-148.43,89.18 C157.152,192.902,132.941,181,106,181c-49.626,0-90,40.374-90,90c0,49.626,40.374,90,90,90c30.122,0,56.832-14.876,73.177-37.666 l140.86,71.985C317.414,403.753,316,412.714,316,422c0,49.626,40.374,90,90,90c49.626,0,90-40.374,90-90 C496,372.374,455.626,332,406,332z M406,30c33.084,0,60,26.916,60,60s-26.916,60-60,60s-60-26.916-60-60S372.916,30,406,30z M106,331c-33.084,0-60-26.916-60-60s26.916-60,60-60s60,26.916,60,60S139.084,331,106,331z M406,482c-33.084,0-60-26.916-60-60 s26.916-60,60-60s60,26.916,60,60S439.084,482,406,482z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }

    &_expanded {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3C/svg%3E");
    }
  }
  .header__phone {
    font-size: 11px;
  }
  .header__city {
    font-size: 4px;
  }
}
