.main {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.error-page {
  flex-grow: 1;
}
