.cover {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  min-height: calc(100vh - 100px);
}

.cover__title {
  font-family: $font-alt;
  text-transform: uppercase;
  font-size: 3.5vw;
  color: #ffcd00;
  margin-bottom: .2vw;
  text-align: start;
}

.cover__qube {
  flex-grow: 0;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: calc(100% - 640px);
}

.cover__blocks {
  display: flex;
  margin-bottom: .5vw;
  flex-wrap: wrap;
  justify-content: start;

}

.cover__block {
  color: #fff;
  font-family: $font-alt;
  font-size: 2.5vw;
  margin-left: 1.5vw;
  margin-right: 1.5vw;

  &:last-child {
    margin-right: 0;
  }
}

.cover__side {
  width: 640px;
  background-color: rgba(255, 205, 0, 0.8);
  flex-grow: 0;
  margin-right: 0;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cover__side-name {
  font-family: $font-alt;
  font-size: 48px;
  span {
    font-family: $font-alt;
    color: #fff;
  }
}

.cover__slogan {
  color: #fff;
  text-transform: uppercase;
  font-size: 31px;
}

.cover__nums {
  display: flex;
  margin-bottom: 5.1vw;
  flex-wrap: wrap;
  justify-content: center;
}

.cover__num {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.5vw;

}
.cover__num-num {
  display: flex;
  background-color: #ffcd00;
  height: 5.5vw;
  width: 5.5vw;
  border-radius: 50%;
  font-size: 3vw;
  font-family: $font-alt;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.6vw;
  sup {
    font-size: 1.5vw;
    font-family: $font-alt;
  }
  &:last-child {
    margin-right: 0;
  }
}
.cover__num-text {
  font-size: 0.8vw;
  color: #fff;
  font-family: $font-alt;
}

.cover__register-btns {
  width: 100%;
  max-width: 400px;
  flex-grow: 0;
}
.cover__register-btn {
  display: block;
  height: 70px;
  background-color: #000;
  border-radius: 35px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  line-height: 70px;
  padding-left: 90px;
  position: relative;
  text-align: left;
  border: none;
  width: 100%;
  &::before {
    display: block;
    height: 30px;
    width: 30px;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 35px;
    background-size: contain;
  }
  &_client {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 482.9 482.9' style='enable-background:new 0 0 482.9 482.9;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M239.7,260.2c0.5,0,1,0,1.6,0c0.2,0,0.4,0,0.6,0c0.3,0,0.7,0,1,0c29.3-0.5,53-10.8,70.5-30.5 c38.5-43.4,32.1-117.8,31.4-124.9c-2.5-53.3-27.7-78.8-48.5-90.7C280.8,5.2,262.7,0.4,242.5,0h-0.7c-0.1,0-0.3,0-0.4,0h-0.6 c-11.1,0-32.9,1.8-53.8,13.7c-21,11.9-46.6,37.4-49.1,91.1c-0.7,7.1-7.1,81.5,31.4,124.9C186.7,249.4,210.4,259.7,239.7,260.2z M164.6,107.3c0-0.3,0.1-0.6,0.1-0.8c3.3-71.7,54.2-79.4,76-79.4h0.4c0.2,0,0.5,0,0.8,0c27,0.6,72.9,11.6,76,79.4 c0,0.3,0,0.6,0.1,0.8c0.1,0.7,7.1,68.7-24.7,104.5c-12.6,14.2-29.4,21.2-51.5,21.4c-0.2,0-0.3,0-0.5,0l0,0c-0.2,0-0.3,0-0.5,0 c-22-0.2-38.9-7.2-51.4-21.4C157.7,176.2,164.5,107.9,164.6,107.3z'/%3E%3Cpath d='M446.8,383.6c0-0.1,0-0.2,0-0.3c0-0.8-0.1-1.6-0.1-2.5c-0.6-19.8-1.9-66.1-45.3-80.9c-0.3-0.1-0.7-0.2-1-0.3 c-45.1-11.5-82.6-37.5-83-37.8c-6.1-4.3-14.5-2.8-18.8,3.3c-4.3,6.1-2.8,14.5,3.3,18.8c1.7,1.2,41.5,28.9,91.3,41.7 c23.3,8.3,25.9,33.2,26.6,56c0,0.9,0,1.7,0.1,2.5c0.1,9-0.5,22.9-2.1,30.9c-16.2,9.2-79.7,41-176.3,41 c-96.2,0-160.1-31.9-176.4-41.1c-1.6-8-2.3-21.9-2.1-30.9c0-0.8,0.1-1.6,0.1-2.5c0.7-22.8,3.3-47.7,26.6-56 c49.8-12.8,89.6-40.6,91.3-41.7c6.1-4.3,7.6-12.7,3.3-18.8c-4.3-6.1-12.7-7.6-18.8-3.3c-0.4,0.3-37.7,26.3-83,37.8 c-0.4,0.1-0.7,0.2-1,0.3c-43.4,14.9-44.7,61.2-45.3,80.9c0,0.9,0,1.7-0.1,2.5c0,0.1,0,0.2,0,0.3c-0.1,5.2-0.2,31.9,5.1,45.3 c1,2.6,2.8,4.8,5.2,6.3c3,2,74.9,47.8,195.2,47.8s192.2-45.9,195.2-47.8c2.3-1.5,4.2-3.7,5.2-6.3 C447,415.5,446.9,388.8,446.8,383.6z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
    }
  }
  &_partner {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' enable-background='new 0 0 512.016 512.016' height='512' viewBox='0 0 512.016 512.016' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='XMLID_1321_'%3E%3Cg id='XMLID_396_'%3E%3Cpath id='XMLID_429_' d='m508.803 192.482-13.337-23.101c-2.761-4.782-8.873-6.421-13.66-3.66-4.783 2.761-6.422 8.877-3.66 13.66l13.337 23.101c.704 1.218.547 2.378.391 2.961s-.601 1.667-1.819 2.37l-35.268 20.362c-1.866 1.074-4.256.433-5.332-1.429l-70.95-122.886c-1.076-1.864-.435-4.256 1.429-5.333l35.267-20.361c1.864-1.074 4.258-.436 5.333 1.428l12.612 21.845c2.762 4.784 8.878 6.423 13.66 3.66 4.783-2.761 6.422-8.877 3.66-13.66l-12.612-21.845c-6.589-11.413-21.235-15.34-32.652-8.749l-35.268 20.362c-5.358 3.094-9.065 7.963-10.81 13.439h-99.98c-14.037 0-27.234 5.466-37.161 15.392l-10.244 10.244c-8.982-2.141-18.184-3.242-27.438-3.242h-31.044c-1.551-5.991-5.404-11.383-11.174-14.715l-35.268-20.362c-5.53-3.193-11.974-4.04-18.139-2.388-6.167 1.652-11.322 5.608-14.514 11.137l-70.949 122.887c-3.192 5.529-4.041 11.971-2.389 18.139s5.608 11.322 11.138 14.514l35.268 20.362c3.755 2.168 7.858 3.198 11.911 3.198 1.477 0 2.946-.143 4.39-.411l28.866 28.867c-.442 2.269-.671 4.596-.671 6.96 0 9.609 3.742 18.644 10.537 25.438 6.506 6.505 14.904 9.988 23.439 10.459-.131 1.254-.202 2.52-.202 3.798 0 9.61 3.742 18.644 10.537 25.438 6.795 6.795 15.829 10.537 25.438 10.537.261 0 .519-.013.779-.019-.006.26-.019.518-.019.779 0 9.61 3.742 18.644 10.537 25.438 6.795 6.795 15.829 10.537 25.438 10.537.261 0 .519-.013.779-.019-.006.26-.019.518-.019.779 0 9.609 3.742 18.644 10.537 25.438s15.829 10.537 25.438 10.537 18.644-3.742 25.438-10.537l14.226-14.225c4.171-4.171 7.091-9.123 8.782-14.387 6.32 4.664 13.83 6.997 21.343 6.996 9.211-.001 18.426-3.507 25.438-10.52 4.196-4.196 7.223-9.247 8.929-14.758 5.789 3.785 12.551 5.821 19.629 5.821 9.609 0 18.644-3.742 25.438-10.537 5.049-5.05 8.409-11.336 9.804-18.176 3.612 1.196 7.428 1.827 11.343 1.827 9.609 0 18.645-3.742 25.439-10.538 14.026-14.027 14.026-36.85 0-50.877l-23.34-23.34 42.603-42.603c.946.113 1.899.177 2.856.177 4.053 0 8.157-1.03 11.911-3.197l35.268-20.361c5.529-3.193 9.485-8.347 11.138-14.515s.805-12.607-2.387-18.136zm-486.842 36.45c-1.218-.703-1.662-1.786-1.818-2.37-.156-.583-.313-1.743.391-2.962l70.949-122.888c.703-1.218 1.787-1.662 2.37-1.818.249-.066.603-.133 1.021-.133.563 0 1.242.121 1.94.523l35.268 20.362c1.863 1.076 2.505 3.468 1.429 5.332l-70.949 122.887c-1.077 1.863-3.467 2.505-5.332 1.429zm89.765 76.295c0-4.268 1.662-8.279 4.68-11.297l8.63-8.63c3.114-3.115 7.205-4.672 11.297-4.672 4.09 0 8.182 1.558 11.296 4.672 3.018 3.018 4.68 7.029 4.68 11.296s-1.662 8.279-4.68 11.296l-8.63 8.63c-6.229 6.23-16.364 6.229-22.593 0-3.018-3.016-4.68-7.028-4.68-11.295zm49.75 55.671c-4.268 0-8.279-1.662-11.296-4.679-3.018-3.017-4.68-7.029-4.68-11.296s1.662-8.279 4.68-11.296l14.225-14.225c3.114-3.114 7.205-4.671 11.296-4.671 4.092 0 8.183 1.557 11.297 4.671 3.018 3.017 4.68 7.029 4.68 11.296s-1.662 8.279-4.68 11.296l-14.225 14.225c-3.018 3.018-7.03 4.679-11.297 4.679zm36.735 36.736c-4.268 0-8.279-1.662-11.296-4.679-3.018-3.017-4.68-7.029-4.68-11.296s1.662-8.279 4.68-11.297l14.225-14.225c3.114-3.114 7.205-4.671 11.296-4.671s8.183 1.557 11.297 4.672c3.018 3.017 4.68 7.029 4.68 11.296s-1.662 8.279-4.68 11.296l-14.225 14.225c-3.017 3.017-7.029 4.679-11.297 4.679zm62.257 17.831-14.226 14.226c-3.017 3.017-7.028 4.679-11.296 4.679s-8.279-1.662-11.296-4.679c-3.018-3.018-4.68-7.029-4.68-11.296 0-4.268 1.662-8.279 4.68-11.297l14.225-14.225c3.114-3.115 7.205-4.672 11.297-4.672 4.09 0 8.182 1.558 11.296 4.671 6.229 6.228 6.229 16.364 0 22.593zm156.146-64.271c-3.018 3.018-7.029 4.68-11.297 4.68-4.267 0-8.278-1.662-11.296-4.68l-95.45-95.45c-3.905-3.904-10.235-3.905-14.143 0-3.905 3.905-3.905 10.237 0 14.142l85.6 85.601c3.018 3.017 4.68 7.029 4.68 11.296s-1.662 8.279-4.68 11.297c-3.017 3.017-7.028 4.679-11.296 4.679s-8.279-1.662-11.296-4.679l-102.861-102.861c-3.905-3.904-10.237-3.904-14.143 0-3.905 3.905-3.905 10.237 0 14.142l85.6 85.601c3.018 3.017 4.68 7.029 4.68 11.296s-1.662 8.279-4.68 11.296c-6.228 6.229-16.363 6.231-22.593 0l-18.826-18.826c-.026-.026-.055-.048-.081-.073-7.202-7.159-16.702-10.628-26.138-10.425.006-.265.019-.529.019-.796 0-9.609-3.742-18.644-10.537-25.439-7.211-7.211-16.747-10.704-26.218-10.501.006-.265.019-.529.019-.795 0-9.61-3.742-18.644-10.537-25.439-7.886-7.886-18.553-11.337-28.873-10.356-.413-8.973-4.102-17.351-10.496-23.745-14.027-14.027-36.851-14.024-50.878 0l-8.63 8.63c-.01.01-.02.021-.03.031l-22.206-22.206 69.613-120.574h34.66c3.396 0 6.783.18 10.151.53l-11.431 11.431c-6.795 6.795-10.537 15.83-10.537 25.439 0 9.61 3.742 18.644 10.537 25.439 7.014 7.013 16.227 10.52 25.438 10.52 9.213 0 18.426-3.506 25.439-10.52l26.996-26.996 155.72 155.719c6.229 6.228 6.229 16.364.001 22.592zm-96.078-146.955c14.552-10.532 23.472-27.528 23.472-45.993 0-5.523-4.478-10-10-10s-10 4.477-10 10c0 13.063-6.9 24.978-17.909 31.557l-38.088-38.088c-3.906-3.905-10.227-4.007-14.133-.102l-34.123 34.123c-6.229 6.229-16.364 6.228-22.593 0-3.018-3.017-4.68-7.029-4.68-11.296s1.662-8.279 4.68-11.297l38.963-38.963c6.148-6.148 14.323-9.534 23.019-9.534h102.495l70.495 122.102c.167.289.349.564.526.843l-39.386 39.386z'/%3E%3Cpath id='XMLID_436_' d='m464.308 145.414c2.63 0 5.2-1.07 7.07-2.93 1.859-1.87 2.93-4.44 2.93-7.07 0-2.64-1.07-5.21-2.93-7.08-1.87-1.86-4.44-2.92-7.07-2.92-2.64 0-5.21 1.06-7.07 2.92-1.87 1.87-2.93 4.44-2.93 7.08 0 2.63 1.06 5.2 2.93 7.07 1.86 1.861 4.43 2.93 7.07 2.93z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }
  &_executor {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M356,429c-5.52,0-10,4.48-10,10c0,5.52,4.48,10,10,10c5.52,0,10-4.48,10-10C366,433.48,361.52,429,356,429z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M156,429c-5.52,0-10,4.48-10,10c0,5.52,4.48,10,10,10s10-4.48,10-10C166,433.48,161.52,429,156,429z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M447.645,377.21c-11.257-17.424-26.726-31.269-44.847-40.21c-1.528-1.419-3.493-2.37-5.678-2.613 C384.013,328.823,370.197,326,356,326h-30v-26.383c17.361-14.896,29.842-34.626,35.894-56.617H366c22.056,0,40-17.944,40-40 c0-10.452-4.034-19.976-10.622-27.11c0.629-0.534,1.243-1.09,1.833-1.679C402.879,168.543,406,161.01,406,153 c0-13.163-8.526-24.366-20.343-28.396c-3.533-45.984-35.806-85.28-80.241-97.596C302.783,13.256,291.434,0,276,0h-40 c-15.434,0-26.783,13.256-29.416,27.008c-44.431,12.315-76.701,51.604-80.24,97.582c-4.302,1.459-8.247,3.892-11.555,7.199 C109.121,137.457,106,144.99,106,153c0,9.163,4.134,17.375,10.63,22.882C110.038,183.016,106,192.544,106,203 c0,22.056,17.944,40,40,40h4.078c5.052,18.357,14.631,35.21,27.994,49.131c2.511,2.618,5.173,5.112,7.928,7.478V326h-30 c-14.198,0-28.014,2.823-41.12,8.386c-2.184,0.244-4.15,1.194-5.677,2.613c-18.123,8.942-33.591,22.787-44.848,40.21 C52.347,395.796,46,417.163,46,439v63c0,5.522,4.477,10,10,10h400c5.523,0,10-4.478,10-10v-63 C466,417.163,459.653,395.796,447.645,377.21z M106,492H66v-53c0-30.417,15.582-59.571,40-76.878V492z M366,223h-0.456 c0.298-3.327,0.456-6.666,0.456-10v-30c11.028,0,20,8.972,20,20S377.028,223,366,223z M206,48.139V93c0,5.523,4.477,10,10,10 s10-4.477,10-10V35.063c0-0.026,0-0.052,0-0.078V33c0-6.196,5.234-13,10-13h40c4.766,0,10,6.804,10,13v1.985 c0,0.026,0,0.052,0,0.078V93c0,5.523,4.477,10,10,10s10-4.477,10-10V48.139c32.29,11.427,55.6,40.647,59.441,74.861H146.559 C150.4,88.786,173.71,59.566,206,48.139z M146,223c-11.028,0-20-8.972-20-20s8.972-20,20-20v30c0,3.334,0.158,6.674,0.456,10H146z M146,163h-10c-5.514,0-10-4.486-10-10c0-2.668,1.041-5.179,2.931-7.068c1.891-1.891,4.401-2.932,7.069-2.932h240 c5.514,0,10,4.486,10,10c0,2.668-1.041,5.179-2.931,7.068c-1.89,1.891-4.401,2.932-7.069,2.932h-10h-10H156H146z M167.817,231.183 c-0.02-0.109-0.039-0.217-0.063-0.324C166.593,224.99,166,218.983,166,213v-30h180v30c0,5.978-0.593,11.981-1.754,17.855 c-0.024,0.108-0.043,0.217-0.063,0.326c-4.469,22.307-16.837,42.275-34.847,56.241C293.69,299.576,275.247,306,256,306 s-37.69-6.424-53.351-18.589c-3.585-2.774-6.997-5.843-10.145-9.126C179.889,265.143,171.357,248.862,167.817,231.183z M246,492 h-80v-23c0-5.523-4.477-10-10-10s-10,4.477-10,10v23h-20V351.474c6.49-2.447,13.176-4.078,20-4.882V409c0,5.523,4.477,10,10,10 s10-4.477,10-10v-63h25.715L246,403V492z M206,332v-18.626C221.431,321.669,238.427,326,256,326c17.574,0,34.571-4.332,50-12.625 V332l-50,52.5L206,332z M386,492h-20v-23c0-5.523-4.477-10-10-10s-10,4.477-10,10v23h-80v-89l54.285-57H346v63 c0,5.523,4.477,10,10,10s10-4.477,10-10v-62.408c6.824,0.804,13.509,2.436,20,4.883V492z M446,492h-40V362.121 c24.418,17.307,40,46.461,40,76.879V492z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");    }
  }
  &:hover {
    color: #fff;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

.cover__link {
  font-size: 14px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  height: 20px;
  line-height: 20px;
  display: inline-flex;
  align-items: center;
  &_contacts {
    margin-right: 30px;
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 211.621 211.621' style='enable-background:new 0 0 211.621 211.621;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M180.948,27.722C163.07,9.844,139.299-0.001,114.017,0c-4.143,0-7.5,3.358-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5 c21.276-0.001,41.279,8.284,56.324,23.329c15.046,15.045,23.331,35.049,23.33,56.326c0,4.142,3.357,7.5,7.5,7.5 c4.142,0,7.5-3.358,7.5-7.499C208.672,69.371,198.827,45.6,180.948,27.722z'/%3E%3Cpath d='M150.096,94.656c0,4.142,3.358,7.5,7.501,7.499c4.142,0,7.499-3.358,7.499-7.5c-0.002-28.16-22.916-51.073-51.078-51.077 c-0.001,0,0,0-0.001,0c-4.142,0-7.499,3.357-7.5,7.499c0,4.142,3.357,7.5,7.499,7.501 C133.909,58.581,150.094,74.765,150.096,94.656z'/%3E%3Cpath d='M133.5,132.896c-11.432-0.592-17.256,7.91-20.049,11.994c-2.339,3.419-1.463,8.086,1.956,10.425 c3.419,2.339,8.086,1.463,10.425-1.956c3.3-4.825,4.795-5.584,6.823-5.488c6.491,0.763,32.056,19.497,34.616,25.355 c0.642,1.725,0.618,3.416-0.071,5.473c-2.684,7.966-7.127,13.564-12.851,16.188c-5.438,2.493-12.105,2.267-19.276-0.651 c-26.777-10.914-50.171-26.145-69.531-45.271c-0.008-0.008-0.016-0.015-0.023-0.023c-19.086-19.341-34.289-42.705-45.185-69.441 c-2.919-7.177-3.145-13.845-0.652-19.282c2.624-5.724,8.222-10.167,16.181-12.848c2.064-0.692,3.752-0.714,5.461-0.078 c5.879,2.569,24.612,28.133,25.368,34.551c0.108,2.104-0.657,3.598-5.478,6.892c-3.42,2.336-4.299,7.003-1.962,10.423 c2.336,3.42,7.002,4.298,10.423,1.962c4.086-2.79,12.586-8.598,11.996-20.069C81.021,69.07,57.713,37.339,46.576,33.244 c-4.953-1.846-10.163-1.878-15.491-0.09C19.097,37.191,10.439,44.389,6.047,53.969c-4.26,9.294-4.125,20.077,0.395,31.189 c11.661,28.612,27.976,53.647,48.491,74.412c0.05,0.051,0.101,0.101,0.153,0.15c20.75,20.477,45.756,36.762,74.33,48.409 c5.722,2.327,11.357,3.492,16.746,3.492c5.074,0,9.932-1.032,14.438-3.098c9.581-4.391,16.778-13.048,20.818-25.044 c1.784-5.318,1.755-10.526-0.077-15.456C177.232,156.856,145.501,133.548,133.5,132.896z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
    }
  }
  &_help {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Ccircle cx='256' cy='378.5' r='25'/%3E%3Cpath d='M256,0C114.516,0,0,114.497,0,256c0,141.484,114.497,256,256,256c141.484,0,256-114.497,256-256 C512,114.516,397.503,0,256,0z M256,472c-119.377,0-216-96.607-216-216c0-119.377,96.607-216,216-216 c119.377,0,216,96.607,216,216C472,375.377,375.393,472,256,472z'/%3E%3Cpath d='M256,128.5c-44.112,0-80,35.888-80,80c0,11.046,8.954,20,20,20s20-8.954,20-20c0-22.056,17.944-40,40-40 c22.056,0,40,17.944,40,40c0,22.056-17.944,40-40,40c-11.046,0-20,8.954-20,20v50c0,11.046,8.954,20,20,20 c11.046,0,20-8.954,20-20v-32.531c34.466-8.903,60-40.26,60-77.469C336,164.388,300.112,128.5,256,128.5z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");    }
  }
  &::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    content: '';
    margin-right: 10px;
  }
  &:hover {
    color: #000;
  }
}

@include media-breakpoint-down(lg) {
  .cover__side {
    min-width: 100%;
    padding: 20px;
  }
  .cover__qube {
    display: none;
    padding: 20px;
  }
  .cover__register-btn {
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    margin-bottom: 10px;
    &::before {
      height: 30px;
      width: 30px;
      background-size: contain;
    }
  }
  .cover__side-name {
    font-size: 26px;
    margin-bottom: 44px;
  }
}

